@import "./stars.css";

:root {
    --main-bg-color: rgb(10, 10, 10);
    --neon-color: rgba(162, 2, 255, 0.8);
    --white-color: #ffffff;
    --text-color-light: rgb(185, 185, 185);
    --text-color-dark: rgb(162, 2, 255);
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--white-color);
}

#unic {
    background: var(--main-bg-color);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

p {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    z-index: 100;
    margin: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    z-index: 100;
    margin: 0;
}

.neon-effect {
    box-shadow: 0 0 10px 5px var(--neon-color);
    animation: neonGlow 1s infinite alternate;
    filter: blur(100%);
}

@keyframes neonGlow {
    0% {
        box-shadow: 0 0 10px 5px rgba(162, 2, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(162, 2, 255, 0.2);
    }
}

.social-nav {
    background: transparent;
    top: 0;
    display: flex;
    position: relative;
    
}

.social-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 5px var(--neon-color);
    z-index: -1;
    animation: neonGlow 1s infinite alternate;
    filter: blur(100%);
}

.social-media:hover {
    opacity: 0.7;
    transition: 0.1s;
    animation: neonGlow 1.5s infinite alternate;
}

@keyframes neonGlow {
    0% {
        text-shadow: 0 0 5px #a202ff, 0 0 10px #a202ff, 0 0 15px #a202ff, 0 0 20px #a202ff, 0 0 25px #a202ff, 0 0 30px #a202ff, 0 0 35px #a202ff;
    }
    50% {
        text-shadow: 0 0 10px #a202ff, 0 0 20px #a202ff, 0 0 30px #a202ff, 0 0 40px #a202ff, 0 0 50px #a202ff, 0 0 60px #a202ff, 0 0 70px #a202ff;
    }
    100% {
        text-shadow: 0 0 5px #a202ff, 0 0 10px #a202ff, 0 0 15px #a202ff, 0 0 20px #a202ff, 0 0 25px #a202ff, 0 0 30px #a202ff, 0 0 35px #a202ff;
    }
}

.floating-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background-color: black;
    box-shadow: 0px 4px 12px var(--neon-color);
    padding: 10px 20px;
    z-index: 1000;
}

.floating-navbar .nav-link i {
    color: var(--white-color); 
    font-size: 30px;
}

.floating-navbar a {
    margin: 0 10px;
}

a.custom-btnreddit,
a.custom-btnig,
a.custom-btntw,
a.custom-btnst,
a.custom-btngh {
    background-color: transparent; 
    color: var(--white-color);
    border: none; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 24px; 
    text-decoration: none; 
    outline: none;
    padding-left: 20px;
    
}

a.custom-btnreddit:hover,
a.custom-btnig:hover,
a.custom-btntw:hover,
a.custom-btnst:hover {
    color: var(--white-color); 
}

a.custom-btnreddit:active,
a.custom-btnig:active,
a.custom-btntw:active,
a.custom-btnst:active {
    color: var(--white-color); 
}

.row {
    display: flex; 
    flex-wrap: nowrap; 
}

.col-right, .col-left {
    text-align: center;
    padding-top: 110px;
    color: var(--white-color);
    flex: 1; 
    height: 100vh; 
    position: relative; 
    box-shadow: 0px 1px 2px var(--neon-color),
                0px 4px 16px var(--neon-color);
    min-width: 300px; 
}

.col-left::before, .col-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; 
    box-shadow: 0px 1px 2px var(--neon-color),
                0px 4px 16px var(--neon-color);
    z-index: -1; 
    animation: neonGlow2 2s linear infinite;
    filter: blur(8px); 
    pointer-events: none; 
}

@keyframes neonGlow2 {
    0% {
        box-shadow: 0 0 5px rgba(162, 2, 255, 0.3), 0 0 10px rgba(162, 2, 255, 0.3), 0 0 15px rgba(162, 2, 255, 0.3), 0 0 20px rgba(162, 2, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 10px rgba(162, 2, 255, 0.6), 0 0 20px rgba(162, 2, 255, 0.6), 0 0 30px rgba(162, 2, 255, 0.6), 0 0 40px rgba(162, 2, 255, 0.6);
    }
    100% {
        box-shadow: 0 0 5px rgba(162, 2, 255, 0.3), 0 0 10px rgba(162, 2, 255, 0.3), 0 0 15px rgba(162, 2, 255, 0.3), 0 0 20px rgba(162, 2, 255, 0.3);
    }
}

.col-right {
    padding-top: 50px;
    color: var(--white-color);
}

#icon {
    border-radius: 50%;
    width: 80%;
    transform: scale(0.8);
    z-index: 5;
}

.my-name {
    color: var(--text-color-dark);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
}

.my-things {
    font-size: 15px;
    color: var(--text-color-light);
}

.knowldege-Icon {
    padding-top: 80px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.stack {
    background-color: var(--main-bg-color);
    border-radius: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .row {

        flex-direction: column;
        min-height: 100vh;
        margin-bottom: 50px; 
    }

    .col-right {
        order: -1;
        margin-bottom: 20px;
        height: auto; 
        min-height: auto;
    }

    .col-left {
        order: 1;
        height: auto; 
        min-height: auto;
        padding-bottom: 60px; 
    }

    body, html {
        margin: 0;
        padding: 0;
        background-color: var(--main-bg-color);
        color: var(--white-color);
        overflow-x: hidden;
        min-height: 100vh; 
    }

    #unic {
        min-height: 100vh;
        position: relative;
        padding-bottom: 40px; 
    }

    footer {
        position: relative; 
        width: 100%;
        padding: 10px;
    }
}

.lanyard-discordStatus,
.profile-statusSpotify,
.profile-statusCode
.profile-statusMath {
    border-radius: 10px;
    padding: 20px;
    color: var(--white-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: var(--main-bg-color);
    max-width: 500px;
    margin: 0 auto;
}

.profile-statusCode img {
    border-radius: 8px;
    margin-left: 20px;
}

.profile-statusCode p {
    margin: 5px 0;
}

.profile-statusCode .time {
    color: #00ff00;
    font-size: 14px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    min-height: 20px;
    font-size: 10px;
    opacity: 0.1;
    margin-top: auto; 
}

.album-art {
    text-align: left;
}

@media (max-width: 768px) {
    .row {
        overflow-x: auto; 
    }
}

.lanyard-discordStatus {
    padding-bottom: 50%;
}

.lanyard-discordStatus,
.profile-statusSpotify,
.profile-statusCode {
    border-radius: 10px;
    padding: 20px;
    color: var(--white-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: var(--main-bg-color);
    max-width: 500px;
    margin: 0 auto;   
}


.profile-statusCode img {
    border-radius: 8px;
    margin-left: 20px;
}

.profile-statusCode p {
    margin: 5px 0;
}

.profile-statusCode .time {
    color: #00ff00;
    font-size: 14px;
}

.my-name {
    padding: 1px;
}

.album-art {
    text-align: left;
}

.discord-name {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 1.2em;
    border: 2px solid #8a2be2;
    border-radius: 5px;
    box-shadow: 0 0 2px #8a2be2, 0 0 4px #8a2be2, 0 0 6px #8a2be2, 0 0 8px #8a2be2;
}

.discord-name:hover {
    color: #fff; 
    box-shadow: 0 0 2px #8a2be2, 0 0 4px #8a2be2, 0 0 6px #8a2be2, 0 0 8px #8a2be2;
}

@keyframes neon {
    0% {
        box-shadow: 0 0 2px #8a2be2, 0 0 4px #8a2be2, 0 0 6px #8a2be2, 0 0 8px #8a2be2;
    }
    50% {
        box-shadow: 0 0 4px #8a2be2, 0 0 8px #8a2be2, 0 0 12px #8a2be2, 0 0 16px #8a2be2;
    }
    100% {
        box-shadow: 0 0 2px #8a2be2, 0 0 4px #8a2be2, 0 0 6px #8a2be2, 0 0 8px #8a2be2;
    }
}

.discord-name {
    animation: neon 2s linear infinite;
}

.footer {
    color: #3f3f3f;
    opacity: 0.8;
    font-size: 10px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column; 
    }

    .col-right {
        order: -1; 
        margin-bottom: 20px; 
    }

    .col-left {
        order: 1; 
    }

    body, html {
        margin: 0;
        padding: 0;
        background-color: var(--main-bg-color);
        color: var(--white-color);
        overflow-x: hidden;
    }
}
