#background {
    background-color: #18122B;
    text-align: center;
    font-size: 3rem;
}

.titles {
    margin-top: 3%;
    color: #BE6DB7;
    font-family: 'Tilt Warp', cursive;    
}

.social-media {
    margin: 1.4%;
    padding: 0,5%;
    font-size: 1.2rem;
    font-family: 'Tilt Neon', cursive;
    
}

.pronouns {
    color:#adadad;
    font-size: 0.8rem;
}

.code-icon {
    color:white;
    margin-left: 1%;
    font-size: 2rem;
    height: 10%;
}

#main {
    padding-left: 20%;
    padding-right: 20%;
}

#main p {
    margin-top: 1%;
    font-size: 1rem;
    color:white;
    text-align: center;
    font-family: 'Tilt Neon', cursive;
}

.cat {
    width: 140px;
    padding-bottom: 40px;
}

.parte2 {
    margin: 3%, 0%, 5%, 0%;
    color: #BE6DB7;
    font-size: 3rem;
    font-family: 'Tilt Warp', cursive;  
}

.part-1 {
    background-color: #211c31;
}

.col h3 {
    font-size: 2rem;
    font-family: 'Tilt Warp', cursive;   
    margin-top: 3%;
    color:white;
}

.col h4 {
    font-size: 1rem;
    font-family: 'Tilt Neon', cursive;
    color:white;

}

.img2 {
    width: 250px;
    margin-top: 3%;
}

.img1 {
    width: 375px;
    margin-top: 3%;
}

.ayuda-agonizo h2 {
    font-size: 1rem;
    font-family: 'Tilt Neon', cursive;
    color:white; 
    text-align: center;
}

@media screen and (max-width: 767px) {
    #background {
      font-size: 2.5rem;
    }
  
    .titles {
      margin-top: 2%;
    }
  
    .social-media {
      margin: 1%;
      font-size: 1rem;
    }
  
    #main {
      padding-left: 5%;
      padding-right: 5%;
    }
  
    .cat {
      width: 100px;
    }
  
    .parte2 {
      font-size: 2.5rem;
      margin: 2% 0% 5% 0%;
    }
  
    .col h3 {
      font-size: 1.5rem;
      margin-top: 2%;
    }
  
    .col h2 {
      font-size: 1rem;
      margin-bottom: 3%;
    }
  
    .img2 {
      width: 200px;
      margin-top: 2%;
    }
  
    .img1 {
      width: 300px;
      margin-top: 2%;
    }
  
    .ayuda-agonizo h2 {
      font-size: 0.5rem;

    }
    .minandolol {
        width: 70%;
    }
  }