/* leftColumn.css */
.left-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-auto-rows: minmax(184px, auto);
  grid-template-areas:
    "div2 div2 div3 div4 div4 div4"
    "div5 div5 div5 div6 div6 div6"
    "div7 div7 div8 div8 div9 div9"
    "div10 div10 div10 div10 div10 div10";
  border: 1px solid #d9d9d9;
}

.left-grid > div {
  padding: 8px;
  background: rgba(59, 1, 1, 0.25);
  border-radius: 16px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(232, 232, 232, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4),
    inset 0 1px 0 rgba(232, 232, 232, 0.05);
  z-index: -1;
}

.div2 {
  grid-area: div2;
}
.div3 {
  grid-area: div3;
}
.div4 {
  grid-area: div4;
}
.div5 {
  grid-area: div5;
}
.div6 {
  grid-area: div6;
}
.div7 {
  grid-area: div7;
}
.div8 {
  grid-area: div8;
}
.div9 {
  grid-area: div9;
}
.div10 {
  grid-area: div10;
}

@media (max-width: 900px) {
  .left-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "div2"
      "div3"
      "div4"
      "div5"
      "div6"
      "div7"
      "div8"
      "div9"
      "div10";
  }
}
