.countdown-container {
  display: flex;
  align-items: center;
  gap: 0.55rem;
  background: var(--bg);
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  border: 1px solid var(--glow-weak);
  opacity: 0.8;
  width: fit-content;
  margin: 5px auto 10px auto;
}

.cd-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: contain;
  filter: drop-shadow(0 0 6px var(--glow-weak));
}

.cd-numbers {
  display: flex;
  gap: 0.4rem;
}

.cd-numbers span {
  font-family: var(--font-mono);
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
  background: #111317;
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 0 6px var(--glow-weak) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  min-width: fit-contents;
  text-align: center;
}
